[project]
	description = Kernel tree for NVIDIA Tegra family SOICs on Android.
[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
[access "refs/*"]
	owner = group Administrators
	owner = group kernel-tegra-admin
	read = group Administrators
	forgeAuthor = group Admin-CCross
	forgeAuthor = group kernel-admin
	forgeAuthor = group kernel-exp
	forgeCommitter = group Admin-CCross
	forgeCommitter = group kernel-admin
	forgeCommitter = group kernel-exp
[access "refs/heads/*"]
	create = group kernel-admin
	create = group kernel-tegra-admin
	push = group kernel-admin
	push = +force group kernel-tegra-admin
	label-Code-Review = -2..+2 group kernel-approvers
	label-Verified = -1..+1 group kernel-approvers
	submit = group kernel-approvers
	submit = group kernel-submitters
[access "refs/tags/*"]
	pushTag = group kernel-admin
	pushTag = group kernel-exp
	pushTag = group kernel-tegra-admin
